# GitHub OAuth2 App credentials
# Create an OAuth App at https://github.com/settings/developers
# Set the Authorization callback URL to: http://localhost:8080/oauth/redirect
CLIENT_ID=your_github_client_id
CLIENT_SECRET=your_github_client_secret
