<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IP GEO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>IP Geolocation API</h1>
    <input spellcheck="false" autocomplete="off" id="ip" value="{{.IP}}" placeholder="Query IP">
    <button id="search">search</button>
    <textarea id="result" readonly>

    </textarea>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>
