<h1 class="h1">Reset your password!</h1>
<form action="/do/password-reset/{{.Token}}" method="POST">
    <div class="container">
        <label for="email"><b>Email</b></label>
        <input id="email" type="text" placeholder="Enter Email" name="email" required>

        <label for="password"><b>New Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required>

        <label for="c_password"><b>Confirm Password</b></label>
        <input id="c_password" type="password" placeholder="Confirm Password" name="c_password" required>

        <button type="submit">Reset my password</button>
    </div>
</form>